@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, system-ui;
}

.ease-in{
  transition: all 0.1s ease-in-out;
}

.changeAnime {
  animation: fadeIn 2s;
}

@keyframes fadeIn{
  0%{
      opacity: 0;
  }  
  100%{
      opacity: 1;
  }
}